fastapi[all]==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
redis==5.0.1
celery==5.3.4
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.12.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
# groq==0.4.1
groq>=0.5.0
requests==2.31.0
python-dotenv==1.0.0
# aioredis==2.0.1
redis>=4.2.0
aiofiles==23.2.0
aiohttp==3.9.1
# numpy==1.24.3
# pandas==2.0.3
# scikit-learn==1.3.0
# --extra-index-url https://download.pytorch.org/whl/cpu
# torch==2.4.0

setuptools>=65.5.1
PyJWT

gtts

transformers
# groq==0.4.2
httpx==0.27.0
# sentencepiece
# indic-transliteration
# torchaudio
# insanely-fast-whisper